    .attribution {
      font-size: 11px;
      text-align: center;
    }

    .attribution a {
      color: hsl(228, 45%, 44%);
    }

    body {
      background-color: hsl(212, 45%, 89%);
    }

    .container {
      width: 350px;
      padding: 30px;
      margin: 100px auto;
      background-color: hsl(0, 0%, 100%);
      border-radius: 15px;
    }

    .container .QR-code img {
      width: 100%;
      border-radius: 15px;
    }
    .container .text {
      text-align: center;
    }
    .container .text p { 
      font-size: 15px;
    }